body{
    background-image: url(/lim-2018-05-bc-core-am-socialnetwork/src/assets/verduras.jpeg);
    font-size: 30px;
    background-size: 100vw 100vh;
    color: #242423;    
    text-align: center;
    background-attachment: fixed;
    margin: 0;

  }

  form{
    padding: 1em;
    background: white;
    border: 1px solid #c1c1c1;
    margin-top: 8rem;
    height: 400px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    -webkit-box-shadow: -9px 9px 10px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: -9px 9px 10px 0px rgba(0,0,0,0.29);
    box-shadow: -9px 9px 10px 0px rgba(0,0,0,0.29);
    box-sizing: border-box;

    }

    .hiden {
        display: none;
    }
      
